#top-section{
    background-image: url("../images/book_shelf.jpeg");
    height: 63em;
}

.logo-container{
    padding-top: 50px;
}

.logo{
    font-family: cursive;
    font-size: 4rem;
    color: #0545B3;
    text-align: center;

}

.logo-shadow{
    padding: 10px;
    box-shadow: 1px 1px 12px 0px;
    border-radius: 25px;
}

.school-sub-heading{
    margin-top: 7rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    font-family: Montserrat,sans-serif
}

.school-paragraph-heading{
    color:white;
    font-size: 2rem;
}

.get-started-btn{
    background-color: #0545B3;
    color: white;
    padding: 1rem;
    margin-right: 2rem;

}

.get-started-btn:hover{
    border: solid 2px white;
    color: white;
}

.contact-us-btn{
    border: solid 2px white;
    color: white;
    padding: 1rem;

}

.contact-us-btn:hover{
    border: solid 2px #0545B3;
    color: white;
}

.contact-us-icon{
    color: #0545B3;
}

@media (max-width: 1028px){
.logo-container{
    text-align: center;
}
    
}

/* #0545B3 
 #D6040D*/